.fadeLeftTop{
  animation : fadeLeftTop;
  animation-duration : .3s;
  -webkit-animation : fadeLeftTop;
  -webkit-animation-duration : .3s;
  visibility : visible;
}

@keyframes fadeLeftTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeLeftTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeLeftTop2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(30px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(0.5);
  }
}

.fadeRightBottom{
  animation : fadeRightBottom;
  animation-duration : .3s;
  -webkit-animation : fadeRightBottom;
  -webkit-animation-duration : .3s;
  visibility : visible;
}

@keyframes fadeRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px) translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px) translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeRightBottom2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px) translateX(-30px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(0.5);
  }
}

.fadeCenter {
  -webkit-animation-name: fadeCenter;
  -webkit-animation-duration: .5s;
  animation-name: fadeCenter;
  animation-duration: .5s;
}

@-webkit-keyframes fadeCenter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) translateX(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@keyframes fadeCenter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) translateX(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeCenter2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) translateX(0%) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(0.4);
  }
}


.fadeLeft {
  -webkit-animation-name: fadeLeft;
  -webkit-animation-duration: .5s;
  animation-name: fadeLeft;
  animation-duration: .5s;
}

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeLeft2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(60px) scale(0.35);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(0.35);
  }
}

.fadeRight {
  -webkit-animation-name: fadeRight;
  -webkit-animation-duration: .5s;
  animation-name: fadeRight;
  animation-duration: .5s;
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%);
  }
}

@-webkit-keyframes fadeRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(-30px) scale(0.35);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(0.35);
  }
}

.fadeRight3{
  animation : fadeRight3;
  animation-duration : 1.1s;
  -webkit-animation : fadeRight3;
  -webkit-animation-duration : 1.1s;
  visibility : visible;
}

@keyframes fadeRight3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(-120px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

@-webkit-keyframes fadeRight3{
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(-120px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

.fadeLeft3{
  animation : fadeLeft3;
  animation-duration : 1.1s;
  -webkit-animation : fadeLeft3;
  -webkit-animation-duration : 1.1s;
  visibility : visible;
}

@keyframes fadeLeft3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(120px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

@-webkit-keyframes fadeLeft3{
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(120px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

.fadeCenter3{
  animation : fadeCenter3;
  animation-duration : 1.1s;
  -webkit-animation : fadeCenter3;
  -webkit-animation-duration : 1.1s;
  visibility : visible;
}

@keyframes fadeCenter3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(0%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

@-webkit-keyframes fadeCenter3{
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px) translateX(-120px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%)  translateX(0%) scale(1);
  }
}

@-webkit-keyframes float1{
  0% {
    opacity: 0;
    transform: scale3d(.5,.5,.5) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity: .25;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.4,1.4,1.4) translate3d(-125%,-100%,0) rotate(-35deg);
  }
}

@-webkit-keyframes float1_mobile{
  0% {
    opacity: 0;
    transform: scale3d(.25,.25,.25) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity: .25;
  }
  100% {
    opacity: 0;
    transform: scale3d(.7,.7,.7) translate3d(-125%,-100%,0) rotate(-35deg);
  }
}

@-webkit-keyframes float2{
  0% {
    opacity: 0;
    transform: scale3d(.5, .5, .5) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity : 0.25;
  }
  100% {
    opacity: 0;
    transform : scale3d(1.1, 1.1, 1.1) translate3d(150%,-120%,0) rotate(35deg);
  }
}

@-webkit-keyframes float2_mobile{
  0% {
    opacity: 0;
    transform: scale3d(.25,.25,.25) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity : 0.25;
  }
  100% {
    opacity: 0;
    transform : scale3d(.55,.55,.55) translate3d(150%,-120%,0) rotate(35deg);
  }
}

@-webkit-keyframes float3{
  0% {
    opacity: 0;
    transform: scale3d(.5,.5,.5) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity : 0.25;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2,1.2,1.2) translate3d(-25%,-160%,0) rotate(-25deg);
  }
}

@-webkit-keyframes float3_mobile{
  0% {
    opacity: 0;
    transform: scale3d(.25,.25,.25) translateZ(0) rotate(0);
  }
  45%{
    opacity: 0;
  }
  50%{
    opacity : 0.25;
  }
  100% {
    opacity: 0;
    transform: scale3d(.6,.6,.6) translate3d(-25%,-160%,0) rotate(-25deg);
  }
}

.float{
  position : absolute;
  margin-left : 131px !important;
  margin-top : -377px !important;
}

#float1{  animation : float1 3s ease-in-out 1.2s infinite;}
#float2{  animation : float2 4s ease-in-out 1.7s infinite;}
#float3{  animation : float3 2s ease-in-out .7s infinite;}

@media screen and (max-width: 768px) {
  .float{
    position : absolute;
    margin-left : 57px !important;
    margin-top : -186px !important;
    transform : scale(0.5);
  }

  #float1{  animation : float1_mobile 3s ease-in-out 1.2s infinite;}
  #float2{  animation : float2_mobile 4s ease-in-out 1.7s infinite;}
  #float3{  animation : float3_mobile 2s ease-in-out .7s infinite;}
}


@media screen and (max-width: 768px) {
  .fadeLeftTop{
    animation : fadeLeftTop2;
    animation-duration : .3s;
    -webkit-animation : fadeLeftTop2;
    -webkit-animation-duration : .3s;
    visibility : visible;
  }

  .fadeRightBottom{
    animation : fadeRightBottom2;
    animation-duration : .3s;
    -webkit-animation : fadeRightBottom2;
    -webkit-animation-duration : .3s;
    visibility : visible;
  }

  .fadeCenter {
    -webkit-animation-name: fadeCenter2;
    -webkit-animation-duration: .5s;
    animation-name: fadeCenter2;
    animation-duration: .5s;
  }

  .fadeLeft {
    -webkit-animation-name: fadeLeft2;
    -webkit-animation-duration: .5s;
    animation-name: fadeLeft2;
    animation-duration: .5s;
  }

  .fadeRight {
    -webkit-animation-name: fadeRight2;
    -webkit-animation-duration: .5s;
    animation-name: fadeRight2;
    animation-duration: .5s;
  }

  .fadeRight3, .fadeCenter3, .fadeLeft3{
    -webkit-animation-name: fadeCenter;
    animation-name: fadeCenter;
  }
}

.slideRight {
  animation-name: slideRight;
  animation-duration: .2s;
  visibility: visible;
}

@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-260px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: .2s;
  visibility: visible;
}

@keyframes slideDown{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
