body{
  margin : 0;
  padding : 0;
}

a{
  text-decoration: none;
  color : black;
}

h1, h2, h3, h4, p{
  margin : 0;
}

.mobile{
  display : none !important;
}

@font-face {
  font-family: 'S-CoreDream EB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream LT';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

h1{font-size : 68px;font-family: 'Noto Sans KR', sans-serif;}
h2{font-size : 45px;font-family : 'S-CoreDream LT', 'S-CoreDream EB'}
h2 > span{font-family : 'S-CoreDream EB'}
h3{font-size : 30px;font-family: 'Noto Sans KR', sans-serif;}
h4{font-size : 24px;font-family: 'Montserrat', sans-serif;}
p{font-size : 18px;font-family: 'Noto Sans KR', sans-serif;}

a{
  transition : .2s;
}

.button1{
  box-sizing: border-box;
  height : 48px;
  width : 140px;
  border : 2px solid black;
  border-radius: 8px;
  color : black;
  text-align : center;
  display : flex;
  align-items: center;
}

.button1 > p{
  width : 140px;
  text-align : center;
  font-weight: bold;
}

.button1:hover{
  background-color : black;
  color : rgb(255, 187, 0);
}

/*---------header---------*/
header{
  width : 100%;
  position : sticky;
  top : 0;
  z-index : 100;
  background-color : rgb(255, 187, 0);
  margin : 0;
}

header button{
  display : none;
}

header > div{
  width : 1160px;
  height : 72px;
  box-sizing: border-box;
  margin : 0 auto;
  padding : 16px 0;
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header > div > div{
  display : flex;
  align-items: center;
}

header p{
  font-weight: bold;
  font-family : 'Montserrat', sans-serif;
}

header > div > div:nth-child(2) > a{
  display : inline-block;
  margin-right : 60px;
}

header > div > div:nth-child(3) > a{
  margin-left : 60px;
}

#slidernav{
  display : none;
}


/*------------sec1----------*/
.sec1{
  width : 100%;
  background-color : rgb(255, 187, 0);
  background-image: url('./assets/0/main_gif.gif');
  background-repeat: no-repeat;
  background-size: 1800px;
  background-position : -280px 0;
}

.sec1 > div{
  width : 1160px;
  margin : 0 auto;
  padding-bottom : 300px;
}

.sec1 h1{
  display : inline-block;
  margin : 76px 0 22px 0;
  letter-spacing : -3px;
}

.sec1 > div > p{
  font-size : 16px;
  color : #fff;
}

.sec1 a{
  margin-top : 36px;
}

/*------------sec2--------------*/
.sec2{
  width : 100%;
  background-image : url('./assets/1/back_logo_img1.png');
  background-repeat : no-repeat;
  background-position : bottom left;
  text-align : center;
}

.sec2 > h4{
  display : inline-block;
  background-color : black;
  color : #fff;
  border-radius: 8px;
  padding : 2px 12px;
  margin : 80px auto 20px auto;
}

.sec2 > h2{
  margin-bottom : 120px;
}

.sec2 .imgcontainer{
  width: 1160px;
  margin : 0 auto;
  height : 576px;
}

.sec2 .under, .sec2 .over{
  position : absolute;
}

.sec2 .under{
  margin-left : -358px;
}

.sec2 .over{
  margin-left : -230px;
  margin-top : 163px;
}

.sec2 .iconline{
  margin : 0 auto;
  height : 80px;
  width : 0;
  border-right : 1px solid rgb(255, 187, 0);
}

.sec2 > img{
  margin : 0 auto;
}

.sec2 > h3{
  margin : 20px 0 16px 0;
}

.sec2 > p{
  margin-bottom : 140px;
  color : #777777;
}

/*-----------sec3-----------*/
.sec3{
  width : 100%;
  background-image : url('./assets/1/2/background.png');
  background-repeat: no-repeat;
  background-size : cover;
  text-align : center;
}

.sec3 > div:nth-child(1) > img{
  position : absolute;
  margin-left : -400px;
  margin-top : 12px;
}

.sec3 > div:nth-child(1){
  height : 494px;
}

.sec3 .iconline{
  margin : 0 auto;
  height : 80px;
  width : 0;
  border-right : 1px solid rgb(255, 187, 0);
}

.sec3 > h3{
  margin : 20px 0 16px 0;
  color : #fff;
}

.sec3 > p{
  padding-bottom : 60px;
  color : #fff;
}

/*----------sec4-----------*/
.sec4{
  width : 100%;
  text-align : center;
  background-image : url('./assets/1/back_logo_img2.png');
  background-repeat : no-repeat;
  background-position : center right;
}

.sec4 > div:nth-child(1){
  width : 1160px;
  margin : 0 auto;
  height : 623px;
}

.sec4 > div:nth-child(1) > img{
  position : absolute;
  margin-left : -280px;
  margin-top : 115px;
}

.sec4 .iconline:nth-child(2){
  margin : 0 auto;
  height : 80px;
  width : 0;
  border-right : 1px solid rgb(255, 187, 0);
}

.sec4 .icon{
  width : 56px;
  height : 56px;
}

.sec4 > h3{
  margin : 20px 0 16px 0;
}

.sec4 > p{
  margin-bottom : 200px;
  color : #777777;
}

.sec4 .imgcontainer{
  width : 1160px;
  margin : 0 auto;
  height : 500px;
}

.sec4 .imgcontainer img{
  position : absolute;
}

.sec4 .under{
  margin-left : -555px;
}

.sec4 .over{
  margin-left : 60px;
  margin-top : 275px;
  z-index : 50;
}

.sec4 .iconline{
  margin : 0 auto;
  height : 160px;
  width : 0;
  border-right : 1px solid rgb(255, 187, 0);
}
/*---------sec5--------*/
.sec5{
  width : 100%;
  background-color : #f5f5f5;
  height : 880px;
  text-align : center;
}

.sec5 .top h4{
  margin : 68px 0 20px 0;
  display : inline-block;
  background-color : black;
  color : #fff;
  border-radius: 8px;
  padding : 2px 12px;
}

.sec5 .top h2{
  margin-bottom : 60px;
}

.sec5 .imgcontainer{
  width : 1160px;
  margin : 0 auto;
}

.sec5 .imgcontainer img{
  position : absolute;
}

.sec5 .imgcontainer img:nth-child(1){
  margin-left : 470px;
  margin-top : -90px;
}

.sec5 .imgcontainer img:nth-child(2){
  margin-left : 530px;
  margin-top  : -60px;
}

.sec5 .cardcontainer{
  display : flex;
  flex-direction: row;
  justify-content: center;
}

.sec5 .card{
  box-sizing: border-box;
  height : 540px;
  width : 300px;
  padding : 34px 26px 0 26px;
  background-color : #fff;
  border-radius: 18px;
  margin : 0 30px;
  box-shadow : 0 0 30px rgba(0,0,0,0.2);
}

.sec5 .card .type{
  margin-bottom : 12px;
  color : #FFBB00;
}

.sec5 .card .price{
  margin-bottom : 36px;
}

.sec5 .card .detail{
  text-align : left;
  height : 290px;
  display : flex;
  flex-direction: column;
}

.sec5 .card .detail > p{
  padding-bottom : 20px;
  font-size : 16px;
  color : #777777;
}

.sec5 .card a{
  margin : 22px auto 0 auto;
  border : 2px solid #FFBB00;
  color : #FFBB00;
  height : 48px;
  width : 140px;
  border-radius: 8px;
  text-align : center;
  display : flex;
  align-items: center;
}

.sec5 .card a > p{
  width : 140px;
  text-align : center;
  font-weight: bold;
}

.sec5 .card a:hover{
  background-color : #FFBB00;
  color : #fff;
}

/*--------sec6---------*/
.sec6{
  width : 100%;
  text-align : center;
  background-image : url('./assets/3/back_img.png');
  background-repeat : no-repeat;
  background-position : center;
  background-size : cover;
  padding-bottom : 85px;
}

.sec6 h4{
  display : inline-block;
  background-color : black;
  color : #fff;
  border-radius: 8px;
  padding : 2px 12px;
  margin : 140px 0 20px 0;
}

.sec6 h2{
  margin-bottom : 40px;
}

.sec6 > p{
  margin-bottom : 32px;
  color : #fff;
  font-size : 16px;
}

.sec6 a{
  margin : 0 auto 0 auto;
}

/*-----------footer----------*/
footer{
  background-color : black;
  color : #fff;
}

footer > div:nth-child(1){
  width : 1160px;
  margin : 0 auto;
  padding-top : 27px;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  height : 90px;
}

footer img{
  height : 34px;
}

footer > div:nth-child(1) > div{
  display : flex;
  flex-direction: column;
}

footer > div:nth-child(1) p{
  display : inline-block;
  margin-bottom : 10px;
  font-size : 14px;
}

footer > div:nth-child(1) > div:nth-child(5) > p{
  font-size : 16px;
}

footer h4{
  color : rgb(255, 187, 0);
  line-height : 10px;
  margin-bottom : 18px;
}

footer > div:nth-child(2){
  width : 1160px;
  margin : 36px auto 0 auto;
  padding-bottom : 20px;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div:nth-child(2) > p{
  font-size : 12px;
  color : #aaaaaa;
}

footer > div:nth-child(2) a{
  color : #fff;
  display : inline-block;
  margin-left : 16px;
}

footer > div:nth-child(2) a > p{
  font-size : 14px;
}

@media screen and (max-width: 768px) {
  .mobile{display : inline-block !important;}
  .pc{display : none !important;}

  h1{font-size : 40px;font-family: 'Noto Sans KR', sans-serif;}
  h2{font-size : 30px;font-family : 'S-CoreDream LT', 'S-CoreDream EB'}
  h2 > span{font-family : 'S-CoreDream EB'}
  h3{font-size : 24px;font-family: 'Noto Sans KR', sans-serif;}
  h4{font-size : 16px;font-family: 'Montserrat', sans-serif;}
  p{font-size : 12px;font-family: 'Noto Sans KR', sans-serif;}

  .button1{
    box-sizing: border-box;
    height : 40px;
    width : 120px;
    border : 2px solid black;
    border-radius: 8px;
    color : black;
    text-align : center;
    display : flex;
    align-items: center;
  }

  .button1 > p{
    width : 120px;
    font-size : 14px;
    text-align : center;
    font-weight: bold;
  }

  .button1:hover{
    background-color : black;
    color : rgb(255, 187, 0);
  }

  /*---------header---------*/
  header{
    width : 100%;
    position : sticky;
    top : 0;
    z-index : 100;
    background-color : rgb(255, 187, 0);
    margin : 0;
  }

  header button{
    display : block;
    background : none;
    border : none;
    outline : none;
    position : absolute;
  }

  header .slidebtn{
    left : 20px;
  }

  header .dropdownbtn{
    right : 20px;
  }

  header > div{
    width : 100%;
    height : 72px;
    box-sizing: border-box;
    margin : 0 auto;
    padding : 10px 10px;
    display : flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  header > div > div{
    display : flex;
    align-items: center;
  }

  header p{
    font-weight: bold;
  }

  header > div > div:nth-child(2) > a{
    margin-right : 0;
    margin-left : 0;
  }

  #slidernav{
    display : block;
    position : fixed;
    top : 70px;
    z-index : 100;
    background : rgba(255, 187, 0, 0.95);
    width : 300px;
    height : 100%;
    box-sizing: border-box;
    padding : 30px;
  }

  #slidernav p{
    font-size : 16px;
    font-weight: bold;
  }

  #slidernav > div:nth-child(1){
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #slidernav > div:nth-child(2){
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top : 30px;
  }

  #slidernav > div:nth-child(2) a{
    margin-bottom : 20px;
  }

  #dropdownnav{
    position : fixed;
    width : 150px;
    box-sizing: border-box;
    padding : 20px;
    right : 20px;
    top : 50px;
    z-index : 200;
    background : rgb(255, 187, 0);
    box-shadow : 0 5px 10px rgba(0,0,0,0.3);
    border : 0 solid #333333;
    border-radius: 7px;
  }

  #dropdownnav p{
    font-size : 16px;
    font-weight: bold;
  }

  #dropdownnav a{
    display : block;
    margin : 10px 0;
  }


  /*------------sec1----------*/
  .sec1{
    width : 100%;
    background-color : rgb(255, 187, 0);
    background-image: url('./assets/0/main_gif.gif');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position : bottom right;
  }

  .sec1 > div{
    box-sizing: border-box;
    width : 100%;
    margin : 0 auto;
    padding : 0 10px 150px 10px;
  }

  .sec1 h1{
    display : inline-block;
    margin : 76px 0 22px 0;
    letter-spacing : -3px;
  }

  .sec1 > div > p{
    font-size : 14px;
    color : #fff;
    width : 240px;
  }

  .sec1 a{
    margin-top : 36px;
  }

  /*------------sec2--------------*/
  .sec2{
    width : 100%;
    background-image : url('./assets/1/back_logo_img1.png');
    background-repeat : no-repeat;
    background-size : contain;
    background-position : bottom left;
    text-align : center;
  }

  .sec2 > h4{
    display : inline-block;
    background-color : black;
    color : #fff;
    border-radius: 8px;
    padding : 2px 12px;
    margin : 80px auto 20px auto;
  }

  .sec2 > h2{
    margin-bottom : 120px;
  }

  .sec2 .imgcontainer{
    width: 100%;
    margin : 0 auto;
    height : 220px;
  }

  .sec2 .under, .sec2 .over{
    position : absolute;
    transform : scale(0.5);
  }

  .sec2 .under{
    margin-top : -120px;
    margin-left : -288px;
  }

  .sec2 .over{
    margin-top : -90px;
    margin-left : -230px;
  }

  .sec2 .iconline{
    margin : 0 auto;
    height : 80px;
    width : 0;
    border-right : 1px solid rgb(255, 187, 0);
  }

  .sec2 > img{
    margin : 0 auto;
  }

  .sec2 > h3{
    margin : 20px 0 12px 0;
  }

  .sec2 > p{
    margin-bottom : 34px;
    color : #777777;
  }

  /*-----------sec3-----------*/
  .sec3{
    width : 100%;
    background-image : url('./assets/1/2/background.png');
    background-repeat: no-repeat;
    background-size : cover;
    text-align : center;
  }

  .sec3 > div:nth-child(1) > img{
    transform : scale(0.4);
    position : absolute;
    margin-left : -380px;
    margin-top : -110px;
  }

  .sec3 > div:nth-child(1){
    height : 246px;
  }

  .sec3 .iconline{
    margin : 0 auto;
    height : 80px;
    width : 0;
    border-right : 1px solid rgb(255, 187, 0);
  }

  .sec3 > h3{
    margin : 20px 0 12px 0;
    color : #fff;
  }

  .sec3 > p{
    padding-bottom : 34px;
    color : #fff;
  }

  /*----------sec4-----------*/
  .sec4{
    width : 100%;
    text-align : center;
    background-image : url('./assets/1/back_logo_img2.png');
    background-repeat : no-repeat;
    background-size: contain;
    background-position : center right;
  }

  .sec4 > div:nth-child(1){
    width : 100%;
    margin : 0 auto;
    height : 300px;
  }

  .sec4 > div:nth-child(1) > img{
    position : absolute;
    margin-left : -275px;
    margin-top : -66px;
    transform : scale(0.4);
  }

  .sec4 .iconline:nth-child(2){
    margin : 0 auto;
    height : 80px;
    width : 0;
    border-right : 1px solid rgb(255, 187, 0);
  }

  .sec4 .icon{
    width : 56px;
    height : 56px;
  }

  .sec4 > h3{
    margin : 20px 0 12px 0;
  }

  .sec4 > p{
    margin-bottom : 94px;
    color : #777777;
  }

  .sec4 .imgcontainer{
    width : 100%;
    margin : 0 auto;
    height : 190px;
  }

  .sec4 .imgcontainer img{
    position : absolute;
    transform : scale(0.35);
  }

  .sec4 .under{
    margin-top : -150px;
    margin-left : -450px;
  }

  .sec4 .over{
    margin-left : -120px;
    margin-top : 10px;
    z-index : 50;
  }

  .sec4  .iconline{
    margin : 0 auto;
    height : 160px;
    width : 0;
    border-right : 1px solid rgb(255, 187, 0);
  }

  .sec4 .p_2{
    margin-bottom : 60px;
  }

  /*---------sec5--------*/
  .sec5{
    width : 100%;
    background-color : #f5f5f5;
    height : auto;
    text-align : center;
    padding-bottom : 30px;
  }

  .sec5 .top{
    box-sizing: border-box;
    padding : 0 50px;
  }

  .sec5 .top h4{
    margin : 68px 0 20px 0;
    display : inline-block;
    background-color : black;
    color : #fff;
    border-radius: 8px;
    padding : 2px 12px;
  }

  .sec5 .top h2{
    margin-bottom : 60px;
  }

  .sec5 .imgcontainer{
    width : 100%;
    margin : 0 auto;
  }

  .sec5 .imgcontainer img{
    position : absolute;
  }

  .sec5 .imgcontainer img:nth-child(1){
    margin-left : 90px;
    margin-top : -50px;
  }

  .sec5 .imgcontainer img:nth-child(2){
    margin-left : 140px;
    margin-top  : -20px;
  }

  .sec5 .cardcontainer{
    display : flex;
    flex-direction: column;
    justify-content: center;
  }

  .sec5 .card{
    box-sizing: border-box;
    height : 540px;
    width : 300px;
    padding : 34px 26px 0 26px;
    background-color : #fff;
    border-radius: 18px;
    margin : 30px auto;
    box-shadow : 0 0 30px rgba(0,0,0,0.2);
  }

  .sec5 .card .type{
    font-size : 28px;
    margin-bottom : 12px;
    color : #FFBB00;
  }

  .sec5 .card .price{
    font-size : 18px;
    margin-bottom : 36px;
  }

  .sec5 .card .detail{
    text-align : left;
    height : 310px;
    display : flex;
    flex-direction: column;
  }

  .sec5 .card .detail > p{
    padding-bottom : 20px;
    font-size : 16px;
    color : #777777;
  }

  .sec5 .card a{
    margin : 22px auto 0 auto;
    border : 2px solid #FFBB00;
    color : #FFBB00;
    height : 40px;
    width : 120px;
    border-radius: 8px;
    text-align : center;
    display : flex;
    align-items: center;
  }

  .sec5 .card a > p{
    width : 120px;
    text-align : center;
    font-weight: bold;
    font-size : 14px;
  }

  .sec5 .card a:hover{
    background-color : #FFBB00;
    color : #fff;
  }

  /*--------sec6---------*/
  .sec6{
    width : 100%;
    text-align : center;
    background-image : url('./assets/3/mobile_back.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    padding-bottom : 105px;
  }

  .sec6 h4{
    display : inline-block;
    background-color : black;
    color : #fff;
    border-radius: 8px;
    padding : 2px 12px;
    margin : 120px 0 20px 0;
  }

  .sec6 h2{
    width : 240px;
    margin : 0 auto 20px auto;
  }

  .sec6 > p{
    margin-bottom : 32px;
    color : #fff;
    font-size : 14px;
  }

  .sec6 a{
    margin : 0 auto 0 auto;
  }

  /*-----------footer----------*/
  footer{
    width : 100%;
    box-sizing: border-box;
    background-color : black;
    color : #fff;
    padding : 30px 30px 10px 30px;
    margin : 0;
    text-align : left;
  }

  footer p, footer h4{
    color : #fff !important;
    padding-bottom : 10px;
  }

  footer h4{
    line-height : 20px;
    margin : 0;
  }

  footer img{
    height : 34px;
    width : 112px;
    margin : 10px 0 20px 0;
  }

  footer > div:nth-child(2){margin : 0}

  footer > div{
    width : 100% !important;
    display : flex;
    flex-direction: column !important;
    padding-bottom : 20px;
  }

  footer > div:nth-child(4) > div{
    display : flex;
    flex-direction: row;
  }

  footer > div:nth-child(4) a{
    margin-right : 10px;
  }


}
